body{
  background-color:black ;
}


    
.jumbotron{
    background-color:black;
    position:relative;
    background-image: url('/img/basement.png');
    min-height: 400px;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}





.btn { 
    color: #ffffff; 
    background-color: #000000; 
    border: 2px solid #77DFF2; 
    padding: 2px 20px;
    font-size: 20px;
} 
 
.btn:hover, 
.btn:active { 
    color: white; 
    background-color: #0EF068; 
    border-color: #77DFF2 ; 
} 


.nav-link{
    color:white;
   
}

/*About Section Style*/
.about_div, .sneek_peek{
    width:100%;
    padding:40px;
    border:rgba(50, 73, 150, .3) solid 10px ;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(80, 161, 173) 1%, rgba(117,168,194,1) 56%, rgba(2,0,36,1) 100%);
}

.pill_heading{
    text-align: center;
    background-color: black;
    padding:7px;
    width:100%;
}

.about_content{
    text-indent: 35px;
    color:rgb(255, 255, 255);
    font-size: 20px;
}

    /* For the Word "passion" in the content*/
.passion{
    color: #0EF068;
    font-size: 25px;
}

    /*Spacing within About_Section content*/
.about_p1, .about_p2, .about_p3{
    line-height: 3rem;
}

    /*For the Word "basment" in the content*/
.basement{
    color: white;
    font-size: 30px;
    font-family: 'IM Fell English', serif;
}

/*Sneek Peek Section/Thumbnails*/
.gallery{
    padding:50px;
}

.thumbnail{
    border:#0EF068 2px solid;
    padding:2px;
}

.thumbnail:hover{
    box-shadow:0px 8px 10px #0EF068 ;
}

    /*for thumbnails to fit mobile*/
.responsive {
    width:100%;
    height:auto;
}

/*For company image section and catchphrase*/
.company_img{
    background-image: url("/img/company.png");
    background-position: cover;
    background-size:contain;
    background-repeat: no-repeat;
    text-align: center;
    height:600px;
    position: relative;
}

.catch_phrase{
    color:rgb(51, 243, 12);
    font-size: 50px;
    font-family:'Homemade Apple', cursive;
}

@media screen and (min-width: 400px){
.catch_phrase{
    font-size: 30px;
    margin-top: 90%;
    padding:15px;}
  }

/*Footer Style*/
.my_footer {
    width:auto;
    background:black;
    border: 3px solid #77DFF2; 
}

.form-control{
  font-size: 18px;
  
}

/*Subscribe Form*/
.Subscribe{
    padding:25px;
    color:white; 
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;      
}
      
.form-control {
    background: white;
    
  }

.form-control:focus {
    border-color: #0EF068;
}


.subscribe .btn {
    min-height: 50px; 
}

/*Social Media Links*/
.socialMediaLinks a{
    font-size:50px;
    padding: 30px;
    color:#0EF068;
  }

/*copyright*/
.copyright{
  color:#0EF068;
  font-size:18px;
}